body {
  font-family: 'Lato', sans-serif !important;
  background-color: #bed7c7;
  font-size: 2em;
}

tr:nth-child(even) {
    background: white;
}

header {
  background: black;
  height: 100px;
  padding: 4%;

  h1{
    color: white;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
  }
}


.center {
  text-align: center;
}

.nav {
  display: inline-block;
  position: absolute;
  right: 0;
}

@media(min-width: 900px) {
  header {
    padding: 1%;
    h1 {
      font-size: 3em;
    }
  }
}


//========================================================================================
//                                    Front End Work
//========================================================================================



.header {
    .tiyLogo {
        max-height: 100px;
        position: absolute;
        top: 0%;
        left: 4%;
    }
    .teamusa {
        max-height: 100px;
        position: absolute;
        top: 1%;
        right: 5%;
    }
}
.entry {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 22em;
    .loginText {
        // color: blue;
        position: absolute;
        left: 13%;
    }
    .passwordText {
        // color: blue;
        position: absolute;
        left: 4%;
    }
    .loginBox {
        left: 36%;
    }
    .passwordBox {
        position: relative;
    }

}
